.inner{
  width: $siteWidth;
  margin: 0 auto;
  height: 800px;
  &:first-child{
    margin-top: 100px;
  }
}

.text-wrap{
  width: $siteWidth;
  text-align: center;
  margin-top: 100px;
  h3{
    font-size: $titleFontSizeMid;
    color: $fontColorTitle;
  }
  p{
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
}

.expand{
  flex-direction: column;
  p{
    font-size: $fontSizeMid;
  }
}

.card-img{
  display: flex;
  justify-content: space-around;
  width: $siteWidth;
  margin: 0 auto;
  img{
    width: 240px;
    height: auto;
  }
}
