//component
.box{
  width: $siteWidth;
  height: 100%;
  display: flex;
  justify-content: space-between;
  .items{
    width: 600px;
    box-sizing: border-box;
    padding: 50px;
    flex-shrink: 0;
    font-size: $fontSizeMid;
    .title{
      font-size: $titleFontSizeMid;
      color: $fontColorTitle;
      font-weight: bold;
      margin-bottom: 12px;
    }
    p{
      margin-bottom: 30px;
    }
    img{
      width: 500px;
      height: auto;
      z-index: 10;
    }
  }
  &.items_2{// items가 두개 일때
    .items{
      width: 600px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  &.expand{// 좌우 padding 삭제
    .items{
      padding: 50px 0;
    }
  }
  .two{
    text-align: right;
  }
  .three{
    img{
      height: auto;
      width: 480px;
    }
  }
  .bankbtn{
    margin-bottom: 50px;
  }
}

//general button
.gbtn{
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $gbtnColor;
  color: white;
  border: 1.5px solid $gbtnColor;
  &:hover{
    background: white;
    color: $gbtnColor;
  }
}

//table
table{
  width: 100%;/*table의 너비를 고정할때 : 각각의 셀요소의 너비가 고정값이 있다면 늘어나거나 줄어들지않게 한다*/
  border-collapse: collapse;
  thead{
    th{
      background: $backColor;
      color: white;
    }
  }

  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: $fontSizeNormal;
    color: $fontColorTitle;
    text-transform: uppercase;
  }

  td{
    cursor: pointer;
    padding: 15px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: $fontColorTitle;
    border-bottom: 1px solid $borderColorPrimary;
  }
}
.page{
  width: $siteWidth;
  text-align: center;
  margin-top: 100px;
  .num-page{
    cursor: pointer;
    border: none;
    background: none;
    font-family: $fontShape;
    font-size: $fontSizeMid;
    padding: 10px;
    &:first-child{
      color: $fontColorTitle;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
