/*initial css*/
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body{
  height: 100%;
  font-family: 'NEXON Lv1 Gothic OTF';
}

body{
  background: $layoutBg;
  color: $fontColorBasic;
}

html,body,ul,li,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: $fontColorTitle;
  transition: .5s;
  &:hover{
    color: $fontColorHover;
  }
}
