/*initial css*/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body{
  height: 100%;
  font-family: 'NanumSquareRound';
  font-weight: 600;
  word-break: keep-all;
}

body{
  background: $layoutBg;
  color: $fontColorBasic;
}

html,body,ul,li,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: $fontColorTitle;
  transition: .5s;
  &:hover{
    color: $fontColorHover;
  }
}

input:focus{ outline: none;-webkit-border-radius:0;-webkit-appearance:none;}

button:focus{ outline: none;-webkit-border-radius:0;-webkit-appearance:none;}

.swiper-button-next{outline: none;-webkit-border-radius:0;-webkit-appearance:none;}

.swiper-button-prev{outline: none;-webkit-border-radius:0;-webkit-appearance:none;}

.swiper-pagination{outline: none;-webkit-border-radius:0;-webkit-appearance:none;}
