//메인페이지
.mainbg{
  height: 600px;
  background-size: cover;
  background: #3e4459;
  position: relative;
  .main-text{
    width: $siteWidth;
    display: inline-block;
    height: 100%;
    transform: translate(25%, 25%);
    h1{
      color: white;
      font-size: $titleFontSizeBig;
    }
    span{
      margin: 35px 0;
      display: block;
      width: 60px;
      height: 3px;
      border-radius: 25px;
      background: $layoutBg;
      opacity: 0.4;
    }
    p{
      color: white;
      font-size: $fontSizeSBig;
      line-height: 35px;
    }
  }
  img{
    position: absolute;
    top: 31.5%;
    left: 45%;
  }
}

.container{
  width: $siteWidth;
  margin: 0 auto;
}

.down{
  margin-top: 200px;
  text-align: center;
  margin-bottom: 100px;
  .logo-bi{
    width: 800px;
    height: auto;
  }
  p{
    color: $fontColorTitle;
    font-size: $titleFontSizeNormal;
  }
  .downbtn{
    height: 120px;
    margin-top: 80px;
    .play{
      width: 200px;
      height: 60px;
      line-height: 50px;
      cursor: pointer;
      border: 1px solid $fontColorMid;
      background: $layoutBg;
      font-family: $fontShape;
      font-size: $fontSizeMid;
      font-weight: bold;
      img{
        margin-top: 10px;
        margin-right: 15px;
      }
      &:hover{
        background: $fontColorLight;
        color: white;
        transition: 0.6s;
      }
    }
  }
}
