@charset "UTF-8";

//변수처리

//size width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeSBig: 20px;

//title text size
$titleFontSizeSmall: 22px;
$titleFontSizeNormal: 30px;
$titleFontSizeMid: 40px;
$titleFontSizeBig: 50px;

//background color
$layoutBg: #fff;
$backColor: #3e4459;

//font color
$fontColorBasic: #666666;
$fontColorTitle: #111111;
$fontColorHover: #6A759B;
$fontColorLight: #ddd;
$fontColorMid: #ccc;
//border color
$borderColorPrimary: #f1f1f1;
$borderColor: #6A759B;

//button color
$gbtnColor: #3e4459;
$gbtnColorHover: #99A5CD;

//table bg
$tableBg: #fff;

$fontShape: 'NanumSquareRound';

//scss 파일 분화
@import "mixin.scss";//공통 mixin
@import "initial.scss";// css 초기화
@import "common.scss";// 공통 요소
@import "component.scss";// 공통 컴포넌트
@import "layout.scss";// 공통 레이아웃

//페이지 분화
@import "main.scss";// 메인페이지
@import "subpage.scss";// 서브페이지
@import "event.scss";// 갤러리페이지
